/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Utilities */

body {
    overflow-x: hidden;
}

.logo {
    max-width: 130px;
}

.yellow-color {
    color: #FFD700;
}

.links {
    color: #ffffff;
}

.links:hover {
    color: #FFD700;
}

/* Playfair font */

h1,
h2,
h3,
h4,
h5,
.navbar {
    font-family: "Playfair Display", serif;
}

.playfair {
    font-family: "Playfair Display", serif;
}

/* Homepage */

.header-main {
    background-color: #0b0b0b;
    color: #ffffff;
}

.home-container {
    background: url('/src/assets/movies-home.jpg') center/cover no-repeat;
    min-height: 90vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 217, 0, 0.273);
}

.hamburger-menu {
    display: none;
}


/* Bottoni stile */

.btn-movies {
    background-color: #FFD700;
    border: none;
    border-radius: 1.5rem;
    color: #0b0b0b;
}

.btn-movies:hover {
    background-color: #C39F00;
    transition: 0.5s ease-in-out;
}

/* Movies */

/* Sfondo della pagina */

.seats-background {
    background: url('/src/assets/cinema-seats.jpg') center/cover no-repeat;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.movie-search-input {
    border-radius: 1.5rem;
}

.movie-search-input:hover {
    background-color: #c3c2c2;
    transition: 0.5s ease-in-out;
}

/* Card styling */

.movie-card {
    background-color: rgba(7, 7, 7, 0.8);
    border-radius: 0.8rem;
    padding: 1rem;
    color: white;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.2s, box-shadow 0.5s;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(82, 79, 13, 0.5);
}

.movie-card .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.movie-card img {
    max-height: 250px;
    object-fit: cover;
}

/* Movie Detail */

.img-container {
    width: 10%;
}

.container-movie-detail {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.1);
}

.container-movie-detail h1 {
    color: #FFD700;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.subtitle-movie-detail {
    color: #ccc;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container-movie-detail p {
    color: #797676;
}

.info-details {
    padding-left: 2rem;
}

/* Review Card */

#reviews h4 {
    color: #FFD700;
}

.review-card {
    background-color: rgba(255, 255, 255, 0);
    color: #f5f5f5;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

/* Movie no review */

.no-review {
    background-color: rgba(239, 82, 82, 0.3);
    border-radius: 20px;
}

.not-found {
    flex-direction: column;
}

.review-form {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-header {
    text-shadow: 0px 1px 5px rgba(242, 242, 7, 0.7);
    color: #f2f2f2;
}

.form-label {
    color: #f5f5f5;
}

/* Form */

.form-data {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
    width: 50%;
}

.form-title {
    color: #FFD700;
}

/* Footer */

.footer {
    background-color: #0b0b0b;
    background-size: cover;
    background-position: center;
}

.links {
    color: #f2f2f2;
}

.links:hover {
    color: #FFD700;
    transition: 0.5s ease-in;
}

.footer-socials {
    background-color: white;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.x-icon {
    color: #000000;
    font-size: 1.6rem;
}

.ig-icon {
    color: #E4405F;
    font-size: 1.6rem;
}

.fb-icon {
    color: #1877F2;
    font-size: 1.6rem;
}

/* NotFound */

.not-found {
    background-image: url(../src/assets/cinema-seats.jpg);
    width: 100%;
    min-height: 100vh;
}

.not-found-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
}

/* Bottone chiudi overlay */

.close-menu svg {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
    padding: 1rem;
}

.close-menu svg:hover {
    color: #FFD700;
    transition: 0.5s ease-in;
}

.link-mobile {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

/* Navbar generica */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Desktop navbar */
.desktop-nav .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-size: 1rem;
}

/* Mobile navbar (overlay) */
.mobile-nav .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


@media (max-width: 768px) {

    .img-container {
        width: 20%;
    }

    .info-details h1 {
        font-size: 2rem;
    }

}

@media (max-width: 576px) {

    .img-container {
        width: 70%;
        margin-right: 0px;
    }

    .container-movie-detail {
        flex-direction: column;
    }

    .subtitle-movie-detail {
        font-size: 1rem;
    }

    .info-details {
        padding-top: 0.5rem;
        text-align: center;
    }

    .desktop-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        all: unset;
        font-size: 2rem;
    }

    .hamburger-menu:hover {
        color: #FFD700;
        transition: 0.5s ease-in;
    }

    .mobile-menu-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1000;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }

    .form-data {
        width: 100%;
    }

    .movies-form-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .overlay-content {
        width: 90%;
    }
}