/* Reset */

img {
    display: block;
}

/* Navbar */

.container-nav {
    background-color: rgb(42, 22, 60);
}

/* Movie Detail */

.img-container {
    width: 10%;
}

.container-movie-detail {
    background-color: rgba(124, 58, 206, 0.3);
    border-radius: 20px;
}

.subtitle-movie-detail {
    font-weight: 400;
    font-size: 20px;
}

/* Movie Card */

.movie-card {
    background-color: rgba(164, 90, 255, 0.3);
}

/* Review Card */

.review-card {
    background-color: rgba(164, 90, 255, 0.3);
}

/* Movie no review */

.no-review {
    background-color: rgba(239, 82, 82, 0.3);
    border-radius: 20px;
}

.not-found {
    flex-direction: column;
}